@page "/"
@inherits Sabeco_FactsheetComponentBase


<div class="card mt-1">
    <div class="card-body">
        <div class="row entry-row">
            <div class="col-auto">
                <h1 class="content-header-title">Welcome to Sabeco!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-auto text-center">
                <img src="https://thanhnien.mediacdn.vn/Uploaded/quochung-qc/2022_06_01/hinh-1-bia-1028.jpg" style="max-width: 100%;" class="w-100 mb-5 my-md-3">
            </div> 
        </div>
    </div>
</div>
