@using System.IO
@using Microsoft.AspNetCore.Components

<Button Style="border-color: #21367B;color: #21367B;
    border: solid; border-width: 1px; border-radius: 10px;
    cursor: pointer; display: block; padding: 10px;
    width: 10rem; min-height: 3rem; font-size: 14px; font-weight: 400;
    text-align: center;align-content: center;"
        Clicked="DeleteFile">
    @TruncateText(fileName, 15) <Icon Name="IconName.Delete" />
</Button>

@code {
    [Parameter] public string? fileId { get; set; }
    [Parameter] public string? fileName { get; set; }
    [Parameter] public EventCallback<string> OnDelete { get; set; }

    private async Task DeleteFile()
    {
        await OnDelete.InvokeAsync(fileId);
    }

    public static string TruncateText(string? text, int maxLength)
    {
        if (text != null)
        {
            if (text.Length <= maxLength)
                return text;
            return text.Substring(0, maxLength) + "...";
        }
        return "";
    }
}
